<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" class="mainDataTable">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Project Column -->
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
      <td mat-cell *matCellDef="let element"> {{element.project}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> <a [routerLink]="['/chapters', element.id]">{{element.title}}</a></td>
    </ng-container>
  
    <!-- Creator Column -->
    <ng-container matColumnDef="creator">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 작성자 </th>
      <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
    </ng-container>
  
    <ng-container matColumnDef="updated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 업데이트 Time </th>
      <td mat-cell *matCellDef="let element"> {{element.updated  | date:'medium'}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> action </th>
      <td mat-cell *matCellDef="let element"> 
          <div class="example-button-row">
            <button mat-stroked-button color="primary" (click)="translate(element.id, element.title)">번역</button>
            <a href="https://docs.mantech.co.kr/r/viewer/book/{{element.id}}" target="_blank"><button mat-stroked-button color="primary">Web viewer</button></a>
          </div>  </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  

<mat-selection-list #books>
  <mat-list-option *ngFor="let book of books">
    {{book}}
  </mat-list-option>
</mat-selection-list>