<div class="top-button-row">
  <mat-form-field class="SearchGrp">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <div class="buttonGrp">
    <!-- <button mat-button color="primary" (click)="deleteSelected()">Delete</button> -->
    <button mat-button color="primary" (click)="revertSelected()">Revert</button>
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" class="mainDataTable">
    <!-- Position Column -->
    <ng-container matColumnDef="checked">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> All </th>
      <td mat-cell *matCellDef="let element">       
        <mat-checkbox class="example-margin" [(ngModel)]="element.checked"></mat-checkbox>      
      </td>
    </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.itemId}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="content">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> 번역결과 </th>
    <td mat-cell *matCellDef="let element">{{element.content}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="origin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> 기존내용 </th>
    <td mat-cell *matCellDef="let element">{{element.origin}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="html">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> 화면내용 </th>
    <td mat-cell *matCellDef="let element"><div [innerHTML]="element.content | keepHtml"></div> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
