<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>야근 Toy Project 0.1.1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Home</a>
            <a class="navbar-brand" href="/overtimeApplication">야근신청</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>야근 Toy Project 0.1.1</h1>
        <br/>
        <p>1. 야근신청을 위한 임시 페이지입니다. 급하게 만들어 수시로 죽거나 예측불가 한 상황이 생길 수 있습니다:)</p>
        <p>2. 회사정책에 따라 총 야근시간의 소수점아래는 내림(floor)을 사용하게 되었습니다.(예시: 5.8시간 야근 => 총 야근 시간은 5시간.) </p>
    </div>

</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>
