<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mantech 야근신청</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Home</a>
            <a class="navbar-brand" href="/overtimeApplication">야근신청</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <form  action="/generateDoc" modelAttribute="userForm" method="post">
        <div class="form-group">
            <label for="email1Input">Email address</label>
            <input type="email" class="form-control" id="email1Input" name="userEmail" aria-describedby="emailHelp" placeholder="Enter email" value="hllee@mantech.co.kr" required>
            <small id="emailHelp" class="form-text text-muted">회사메일을 입력해 주세요.</small>
        </div>
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" class="form-control" id="nameInput" name="username" aria-describedby="nameHelp" placeholder="이름을 입력하세요." required>
            <small id="nameHelp" class="form-text text-muted">이름을 입력하세요.</small>
        </div>

        <button type="submit" class="btn btn-primary">Excel 다운로드</button>
        <br/>
        <p class="form-text text-muted">
            위의 버튼을 누르면 몇십초 후 야근신청서가 생성됩니다.
        </p>
        <p class="form-text text-muted">
            회사의 야근 정책에 따라 총 야근시간은 아래와 같이 계산됩니다. <br/>
            1. 소수점아래는 내림(floor)을 사용하게 됩니다.(예시: 25.8시간 야근 => 총 야근수당은 25시간으로 계산.) <br/>
            2. 32시간 이상 야근근무는 32시간으로 계산됩니다.(예시: 35시간 야근 근무 => 총 야근수당은 32시간으로 계산.)
        </p>
    </form>

</div>
<!-- /.container -->

<script type="text/javascript"
        src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript"
        src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>
