
<div class="top-button-row">
  <mat-form-field class="SearchGrp">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <div class="buttonGrp">
    <button mat-button color="primary" (click)="deleteSelected()">Delete</button>
    <button mat-button color="primary" (click)="revertSelected()">Revert</button>
  </div>
</div>
  

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" class="mainDataTable">
    <!-- Position Column -->
    <ng-container matColumnDef="checked">
      <th mat-header-cell *matHeaderCellDef (click)="checkAll()"> All </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox class="example-margin" [(ngModel)]="element.checked"></mat-checkbox>      
      </td>
    </ng-container>
  
    <!-- Project Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.translateId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> <a [routerLink]="['/translateItems', element.translateId]">{{element.name}}</a></td>
    </ng-container>
  
    <ng-container matColumnDef="updated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 업데이트 Time </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date:'medium'}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  