<mat-sidenav-container class="all-wrap">
  <mat-sidenav-content class="page-wrap" layout="column" layout-fill>
    <mat-toolbar color="primary" class="app-toolbar no-print" [class.transitioning]="isTransitioning">
      <mat-toolbar-row>
        <a class="nav-link home" routerLink="/books">
          <img src="http://www.mantech.co.kr/wp-content/uploads/2018/12/upper_2.png" width="185" height="41"
            title="Home" alt="Home" />
        </a>
        <mat-nav-list class="menu-list">
          <a mat-list-item routerLink="/books" title="auto translation">자동번역</a>
          <!-- <a mat-list-item routerLink="/translateHistorys" title="auto translation">번역이력</a> -->
          <!-- <a mat-list-item class="nav-link" routerLink="/process" title="translation process">번역 프로세스</a> -->
        </mat-nav-list>
        <span flex style="flex: 1 1 auto;"></span>
        <div class="toolbar-external-icons-container">
          <a routerLink="/about" title="about site">
            <mat-icon class="icon"></mat-icon>
            <span class="label">About</span>
          </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <main class="content" layout="row" flex>
    <router-outlet>
    </router-outlet>
    </main>

    <footer class="no-print">
        <div layout="row" layout-align="center center">
      <p>
        Super-powered by Mantech ©2019.
      </p>
      </div>
    </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
